@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
.feane {
  font-family: "Dancing Script", cursive;
}

nav .feane {
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
}


.navbar-toggler .collapsed:focus {
  border: none;
}

.nav-item span {
  color: #ffffff;
}

/*Pedro*/

nav li a.active {
  color: #ffbe33 !important;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.off-img img {
  height: 175px;
  width: 175px;
}

.social-links a {
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
}

.bg-card {
  background-color: #222831;
}

.navbar-toggler-icon {
  color: var(--bs-navbar-color);
}

/* Galera, eu add essa classe pra sobreescrever o hover dos botões (Iza) */
.btn-hover:hover{
  background-color: #e69c00;
  border-color: #e69c00;
}