@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


nav li a.active {
    color: #ffbe33 !important
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.off-img img {
    height: 175px;
    width: 175px;
}

.social-links a {
    width: 30px;
    height: 30px;
}

.bg-card {
    background-color: #222831;
}

.btn-hover:hover{
    background-color: #e69c00;
    border-color: #e69c00;
}

.font-padrao{
    font-family: 'Dancing Script', cursive;
}