<div>
    <h1>TODO LIST</h1>
</div>

<div>
    <form>
        <div>
            <label for="titulo">Título</label>
            <input id="titulo" type="text" name="titulo" [(ngModel)] = "newTask.title">
        </div>
        <div>
            <label for="status">Status</label>
            <select name="status" id="status" name="status" [(ngModel)]="newTask.status">
                <option disabled selected>Selecione uma opção</option>
                <option value="toDO" >toDo</option>
                <option value="doing" >Doing</option>
                <option value="done" >Done</option>
            </select>
        </div>
        <div>
            <label for="description">Descrição</label>
            <!-- <input id="description" type="text" name="description" [(ngModel)] = "newTask.description"> -->
            <div><textarea  style="resize: none" name="description" id="description" cols="30" rows="10" [(ngModel)] = "newTask.description"></textarea></div>
        </div>
        <div>
            <label for="date">Data de vencimento</label>
            <input id="date" type="date" name="date" [(ngModel)] = "newTask.date">
        </div>
        <button type="button" (click)="submitTask()" class="btn btn-primary" >Adicionar Tarefa</button>
    </form>
</div>